@import "admin-lte/dist/css/adminlte.min.css";
@import "admin-lte/plugins/fontawesome-free/css/all.min.css";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback");

.progress {
    height: 9px;
    border-radius: 4px;
    margin-top: auto;
    margin-bottom: auto;
}
.card {
    border-radius: 8px;
    padding: 0 8px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

btn_eye:hover {
    background-color: #eee !important;
}
.modal-body {
    max-height: 400px;
    overflow-y: scroll;
}
.modal-header,
.modal-footer {
    border: none;
}
